
<button id="btn">test</button>

<p class="text-p"></p>
<p class="text-p"></p>

<script>
  function test () {
    let eles = document.getElementsByClassName('text-p')
    console.log(eles)
    eles[0].innerHTML = 'Hello Mahima'
  }

  // $(document).ready(function(){
  //     $('#btn').onClick(function() {
  //         test();
  //     })
  // })
  const btn = document.getElementById("btn");
  btn.addEventListener('click', function (){
    test();
  })
</script>