<h1>Editing issues return</h1>

<%= render "form", issues_return: @issues_return %>

<br>

<div>
  <%= link_to "Show this issues return", @issues_return %> |
  <%= link_to "Back to issues returns", issues_returns_path %>
</div>
